<div class="flex-container">
  <div class="comp-logo">
  <img
    class="company-logo"
    [src]=job.companyLogo
    [alt]=job.companyName
  >
  </div>
  <div class="col">
    <p><a [routerLink]="['/jobs', job.id]">{{job.title}}</a></p>
    <p class="company-snippet">Company: {{job.companyName}}</p>
    <p class="company-snippet">Reference: {{job.reference}}</p>
  </div>
  <div class="fav-icon">
    <span *ngIf="showFavoriteIcon"
      class="icon-star"
      [id]="'star-' + job.id"
      [ngClass]="{active: job.favorited}"
      (click)="onClickFavoriteIcon(job)">
    </span>
  </div>
</div>
