<div>
  <button
    class="btn btn-primary btn-lg"
    routerLink="/jobs"
    >Back
  </button>
</div>
<ng-container *ngIf="job$ | async as job">
  <img
    class="company-logo"
    [src]=job.companyLogo
    [alt]=job.companyName>
  <h1>{{job.title}}</h1>
  <ng-container *ngFor="let type of job.types">
    <button
    class="btn btn-primary btn-desc"
    >{{type}}
    </button>
  </ng-container>
  <ng-container *ngFor="let industry of job.industries">
    <button
      class="btn btn-primary btn-desc"
    >{{industry}}
    </button>
  </ng-container>
  <p><b>Publish date:</b> {{job.publishDate | date: 'MM/dd/yyyy'}}</p>
  <p><b>Location:</b> {{job.location}}</p>
  <p><b>Reference:</b> {{job.reference}}</p>
  <p><b>Description: </b><br></p>
  <p [innerHTML]="job.description | safeHtml"></p>
</ng-container>

